<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NIMmacOSAVChatDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>900CBCDA20BF9A4F0090AF74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>900CBCED20BF9A500090AF74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>900CBCF820BF9A500090AF74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
